.card {
    text-align: center;
    border: black solid 2px;
    padding: 1rem;
    width: 16rem;
    height: 28rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px orange
  }

.banner {
  text-align: center;
  border: black solid 2px;
  box-shadow: 3px 4px orange;
  width: 1000px;
  margin: 1rem 2rem;
}

#refresh {
  text-align: center;
  border: black solid 2px;
  box-shadow: 2px 3px orange;
  width: 5rem;
  margin: 1rem 2rem;
  background: white;
  font-size: medium;
}

#search-form {
  text-align: center;
  border: black solid 2px;
  box-shadow: 3px 4px orange;
  width: 1000px;
  margin: 1rem 2rem;
}